{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h2 class="my-4 text-center">Galería de Imágenes</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <!-- Imagen 1 -->
        <div class="col">
            <div class="card h-100">
                <img src="../static/img/galeria1.jpg" class="card-img-top" alt="Imagen 1">
                <div class="card-body">
                    <h5 class="card-title">Imagen 1</h5>
                    <p class="card-text">Cursos en acción.</p>
                </div>
            </div>
        </div>
        <!-- Imagen 2 -->
        <div class="col">
            <div class="card h-100">
                <img src="../static/img/galeria2.jpg" class="card-img-top" alt="Imagen 2">
                <div class="card-body">
                    <h5 class="card-title">Imagen 2</h5>
                    <p class="card-text">Cursos en acción.</p>
                </div>
            </div>
        </div>
        <!-- Imagen 3 -->
        <div class="col">
            <div class="card h-100">
                <img src="../static/img/galeria3.jpg" class="card-img-top" alt="Imagen 3">
                <div class="card-body">
                    <h5 class="card-title">Imagen 3</h5>
                    <p class="card-text">Cursos en acción.</p>
                </div>
            </div>
        </div>
        <!-- Imagen 4 -->
        <div class="col">
            <div class="card h-100">
                <img src="../static/img/galeria4.jpg" class="card-img-top" alt="Imagen 4">
                <div class="card-body">
                    <h5 class="card-title">Imagen 4</h5>
                    <p class="card-text">Cursos en acción.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}